<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href="/static/css/menu.css">
    </head>
<body>

<div class="icon-bar">
  <a class="active" class="icon" href="/"><i class="fa fa-home"></i></a> 
  <a class="Title">Web-Shell</a>
</div>

<div class="list">
  <h2> Web-Shell Sessions</h2>
  <ul>
    <li><a href="/terminal/kevinPC">Kevin's PC</a></li>
    <li><a href="/terminal/rishitPC">Rishit's PC</a></li>
  </ul>
</div>

</body>
</html> 